.main-page {
    width: 100%;
    height: 100%;
    background: linear-gradient(0.12deg, #FFFFFF 0.1%, rgba(241, 252, 253, 0)
     105.06%, rgba(255, 255, 255, 0) 105.06%), url(https://wallpapercrafter.com/sizes/3840x2160/245033-view-of-a-flying-drone-in-focus-with-a-sunrise-or-.jpg) no-repeat;
     background-size: 100% 100%;
     background-blend-mode: color-burn, normal;

    &__body {
    }

    &__ellipse{
        position: absolute;
        background-color: #FFFFFF;
        width: 100rem;
        height: 100rem;
        top: -15%;
        left: -15%;
        border-radius: 100%;
        z-index: 1;
        box-shadow: 64.8409px 4.54508px 402px rgba(158, 158, 158, 0.16),
         42.0265px 2.94588px 235.431px rgba(158, 158, 158, 0.121481), 
         24.9758px 1.7507px 128.044px rgba(158, 158, 158, 0.0971852),
          12.9682px 0.909015px 65.325px rgba(158, 158, 158, 0.08), 
          5.28333px 0.37034px 32.7556px rgba(158, 158, 158, 0.0628148), 
          1.20076px 0.0841681px 15.8194px rgba(158, 158, 158, 0.0385185);
    }

    &__text-part {
        display: flex;
        flex-direction: column;
        padding-top: 21.6rem;
        max-width: 51rem;
        position: relative;
        z-index: 2;
    }

    &__title {
        @extend %text-style-h1;
    }

    &__subtitle {
        padding: 2.4rem 0;
        @extend %text-sub-h1;
    }

    &__button {
    }
}