.contactUs {

    &__body {
        display: flex;
        flex-direction: row;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__left-part {
        width: 50%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__above-h1 {
        font-weight: $fw-bold;
        font-size: $fsx-logo-text;
        line-height: $f-line-height-big;
        letter-spacing: .2em;
        text-transform: uppercase;
        color: #DF8928;
        padding-top: 12.8rem;

        @media (max-width: 767px) {
            font-size: 16px;
            padding-top: 4.8rem;
        }
    }

    &__h1 {
        @extend %text-style-h1;
        padding-top: 1.6rem;

        @media (max-width: 767px) {
            font-size: 2.8rem;
        }
    }

    &__info {
        padding-top: 8rem;

        @media (max-width: 767px) {
            padding-top: 4rem;
        }
    }

    &__info-item {

    }

    &__img {
    }

    &__info-type {
        font-size: $fsz-download-text;
        font-weight: $fw-bold;
        line-height: $f-line-height-medium;
        letter-spacing: $f-letter-spacing;

        padding-top: 2rem;
    }

    &__adress {
        @extend %main-text;
        display: block;
        margin: 0.8rem 0 4.3rem 0;

        grid-column: 1/-1;
    }

    &__right-part {
        

        width: 50%;

        @media (max-width: 767px) {
            width: 100%;
            object-fit: fill;
            margin-bottom: 4.8rem;
        }

        & img {
            float: right;
            margin: 28.6rem 0 16rem 0;
            

            @media (max-width: 767px) {
                margin: 0;
                max-width: 100%;
            }
        }
    }
}