
.image-slider {
    position: relative;
    overflow: hidden;
    max-height: 200% !important;

    &__wrapper {
        height: 100% !important;
    }

    &__slide {
        display: flex;
        justify-content: space-between;
        margin: 3rem;
        @media (max-width:992px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__image {
        margin-top: 16rem;
        max-width: 64rem;
        
        @media (max-width: 767px) {
            max-width: 100%;
            margin-top: 0;
        }
        @media (max-width: 576px) {
            display: none;
        }
    }

    &__text-part {
        padding: 15.5rem 2rem 0 2rem;
        max-width: 62rem;
        @media (max-width:992px) {
            padding-top: 8rem;
        }
    }

    &__above-title {
        font-weight: $fw-bold;
        font-size: $fsx-logo-text;
        line-height: $f-line-height-big;
        letter-spacing: .2em;
        text-transform: uppercase;
        color: #DF8928;
        padding-bottom: 2.4rem;
        @media (max-width:576px) {
            font-size: 1.8rem;
        }
    }

    &__title {
        @extend %text-style-h1;
        padding-bottom: 5.6rem;

        @media (max-width:1200px) {
            font-size: 3.2rem;
        }
        @media (max-width:576px) {
            font-size: 2.4rem;
        }
    }

    &__card-container{
        display: flex;
        @media (max-width:576px) {
            flex-direction: column;
        }
    }

    &__card {
        padding: 0 12px;
    }

    & .swiper-button-prev::after,
    & .swiper-button-next::after{
        color: $color-orange;
    }

    &__image_second{
        border-radius: 0 0 100% 0;
        max-width: 64rem;
        margin-left: 5rem;
        height: 54rem;
        @media (max-width:1200px ) {
            max-width: 60%;
        }
        @media (max-width:767px ) {
            max-width: 80%;
        }
    }
}


 

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 4rem;
    &__circle {
        width: 15px;
        height: 15px;
        margin-bottom: 3.2rem;
        &_group{
            width: 30px;
        }
    }

    &__title {
        padding-bottom: 1.6rem;
        font-weight: $fw-bold;
        font-size: 2.4rem;
        line-height: 140%;
        color: $color-dark-grey;
        @media (max-width:576px) {
            font-size: 1.8rem;
        }
    }

    &__subtitle {
        @extend %main-text;
    }
}

.swiper-slide{
    display: flex;
}