.footer {
    background: #4B4B4B;

    &__body {
        
    }

    &__top-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        padding: 9.6rem 0 8rem 0;
        border-bottom: solid 1px #5E5E5E;
    }

    &__socnet {
        display: flex;
        flex-direction: row;
        gap: 2.8rem;
    }

    &__link_last-element{
        display: flex;
        align-items: center;
    }

    &__navigation {
        font-style: $fstyle;
        font-weight: $fw-bold;
        font-size: $fsz-small-text;
        line-height: $f-line-height-big;
        color: #FFFFFF;

        :nth-child(n){
            transition: .5s ease 0s;
            display: block;
        }

        :nth-child(n):hover{
            color: $color-orange;
            cursor: pointer;
        }
    }

    &__addit-info {
        display: flex;
        flex-direction: row;
        gap: 2.4rem;

        font-weight: $fw-norm;
        font-size: 1.4rem;
        line-height: $f-line-height-big;
        color: #F3F3F3;

        padding: 3.2rem 0 8rem 0;

        & p:nth-child(4) {
            margin-left: auto;
        }

        :not(:last-child){
            transition: .5s ease 0s;
        }

        :not(:last-child):hover {
            color: $color-orange;
            cursor: pointer;
        }
    }
}

.logo__title_white{
    color: #F3F3F3;
    margin-left: 4rem;
}